<%- include("parts/header") %>
<body>
  <div class="container">
    <div class="card mb-3 mx-0">
      <img src="assets/miau.png" class="card-img-top" alt="Imagem de capa no perfil do Tutor">
      <div class="card-body card-profile d-flex">
        <img src="/assets/image2.png" alt="Foto de perfil">
        <div class="mx-3">
          <p class="card-text mb-0"><%= tutor.nome %></p>
          <p class="card-text"><%= tutor.profissao %></p>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="card text-white card-profile cards-ref mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Salas</h5>
          <ul>
            <% tutor.salasCriadas.forEach(sala => { %>
              <li class="card-text"><a href="/class" class="link-salas"><%= sala.nome %></a></li>
            <% }) %>
          </ul>
        </div>
      </div>

      <div class="card text-white card-profile cards-ref mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Reviews</h5>
          <p class="card-text"><%= tutor.getAvaliacao() %></p>
        </div>
      </div>

      <div class="card text-white card-profile cards-ref mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Contatos</h5>
          <p class="card-text"><i class="far fa-envelope me-1"></i><%= tutor.email %></p>
        </div>
      </div>
    </div>
    <div class="card card-profile">
      <div class="card-body">
        <h5 class="card-title">Competências</h5>
        <ul>
        <% tutor.competencias.forEach(competencia => { %>
          <li>
            <%= competencia %>
          </li>
        <% }) %>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>