<%- include("parts/header") %>
<body class="w-100 ">
  <h1 class="h1 d-flex justify-content-center">Competências</h1>
  <div class="d-flex justify-content-center">
    
  </div>
  <div class="container">
    <form class=" p-4" style="background-color: #eee;">
      <label for="exampleDataList" class="form-label">Competências</label>
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
      <datalist id="datalistOptions">
        <% competencias.forEach(competencia => { %>
          <option value=<%= competencia %>>
        <% }) %>
      </datalist>
    </form>
    <a href="/profile">
      <button type="button" class="btn btn-link">
        Profile
      </button>
    </a>

    <p>Tutor: <%= tutor.nome  %></p>
    <p>Email: <%=  tutor.email   %></p>
    <p>Profissão: <%= tutor.profissao %></p>
  </div>
</body>
</html>